@{
    ViewData["Title"] = "Job Applications";
    Layout = "_Main";
}

<div class="p-5">
    <form id="jobApplicationTableStatus">
        <input type="text" name="CurrentPage" id="CurrentPage" class="d-none" hidden>
        <input type="text" name="PageSize" id="PageSize" class="d-none" hidden>
        <div class="d-flex gap-2 mb-4">
            <input type="text" name="SearchQuery" id="SearchQuery" placeholder="Search job" class="form-control w-25"
                onkeyup="getJobApplicationTable()">
            <div class="form-floating">
                <input type="date" class="form-control" name="FromDate" id="orderTableFromDate" placeholder="FromDate"
                    onchange="getJobApplicationTable()">
                <label for="orderTableFromDate">From Date</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" name="ToDate" id="orderTableToDate" placeholder="ToDate"
                    onchange="getJobApplicationTable()">
                <label for="orderTableFromDate">To Date</label>
            </div>
            <select class="form-select w-25" aria-label="Default select example" name="Status" onchange="getJobApplicationTable()">
                <option value="Select" disabled selected>Select a job application status</option>
                <option value="All">All</option>
                <option value="Applied">Applied</option>
                <option value="Interviewing">Interviewing</option>
                <option value="Offered">Offered</option>
                <option value="Rejected">Rejected</option>
            </select>
        </div>
    </form>
    <a href="/job" class="mb-5">
        <button type="button" class="btn btn-primary">Back</button>
        <div id="jobApplicationTableDiv">
    </a>

</div>



<!-- Modal -->
<div class="modal fade" id="jobApplicationStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Job application status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="jobApplicationStatusForm">
                    <select class="form-select" aria-label="Default select example" name="Status">
                        <option value="Select" disabled selected>Select a job application status</option>
                        <option value="Applied">Applied</option>
                        <option value="Interviewing">Interviewing</option>
                        <option value="Offered">Offered</option>
                        <option value="Rejected">Rejected</option>
                    </select>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="changeStatusSaveButton">Save</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletejobApplicationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="fs-4">You want to delete this job application ?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deleteYesbutton" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section jobapplicationscript {
    <script>
        function setMaxDate() {
            const today = new Date().toISOString().split('T')[0];
            $('#orderTableFromDate').attr('max', today);
            $('#orderTableToDate').attr('max', today);
        }

        function getJobApplicationTable() {
            let form = $('#jobApplicationTableStatus')[0]
            let formData = new FormData(form)

            @* for (var pair of formData.entries()) {
                console.log(pair[0] + ": " + pair[1]);
            } *@

                let orderTableFromDate = $('#orderTableFromDate').val();
            let orderTableToDate = $('#orderTableToDate').val();
            let today = new Date().toISOString().split('T')[0];  // Get today's date in 'YYYY-MM-DD' format

            if (orderTableToDate < orderTableFromDate) {

                toastr.error("To Date must be greater than From Date.");
                return;
            }

            if (orderTableToDate > today) {
                toastr.error("To Date cannot be greater than today's date.");
                return;
            }

            if (orderTableFromDate > today) {
                toastr.error("From Date cannot be greater than today's date.");
                return;
            }

            $.ajax({
                url: '/jobapplicationtable',
                method: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#jobApplicationTableDiv').html(res)
                    $('#orderPageSize').val($('#PageSize').val())
                },
                error: function (err) {
                    toastr.error(err)
                }
            })
        }

        function updatePageSize() {
            $('#PageSize').val($('#orderPageSize').val())
            getJobApplicationTable()
        }

        function navigatePage(page) {
            $('#CurrentPage').val(page)
            getJobApplicationTable()
        }

        function changeStatus(id) {
            let form = $('#jobApplicationStatusForm')[0]
            let formData = new FormData(form);

            formData.append('Id', id)

            @* for (var pair of formData.entries()) {
                console.log(pair[0] + ": " + pair[1]);
            } *@

            $.ajax({
                url: '/changejobstatus',
                method: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (!(res.status == 'All Perfect')) {
                        toastr.error(res.status)
                    }
                    getJobApplicationTable()
                    $('#jobApplicationStatus').modal('hide')
                    $('#jobApplicationStatusForm')[0].reset()
                },
                error: function (err) {
                    toastr.error(err)
                }
            })
        }

        function changeJobApplicationView(id) {
            $('#changeStatusSaveButton').off().on('click', function () {
                changeStatus(id)
            })
        }

        function deleteJobApplication(id) {
            $.ajax({
                url: '/deletejobapplication',
                method: 'get',
                data: { id: id },
                success: function (res) {
                    if (res.message == 'success') {
                        getJobApplicationTable()
                    }
                    else {
                        toastr.error(res.message)
                    }
                },
                error: function (err) {
                    toastr.error(err)
                }
            })
        }

        function deleteJobApplicationView(id) {
            $('#deleteYesbutton').off().on('click', function () {
                deleteJobApplication(id)
            })
        }

        $(document).ready(function () {
            $('#PageSize').val('5')
            $('#CurrentPage').val('1')
            getJobApplicationTable()
            setMaxDate()
        })
    </script>
}