@model List<WebApp.Entities.ViewModels.Job.UserTableViewModel>;

@{
    ViewData["Title"] = "User";
    Layout = "_Main";
}



<div class="p-5">
    <a href="/job">
        <button type="button" class="btn btn-primary mb-4">Back</button>
    </a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Resume</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td><a href="~/uploads/@user.Resume"><button type="button" class="btn btn-primary">View
                                        Resume</button></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>